[Desktop Entry]
Type=Application
Exec=atlantik -caption "%c" %i %m
Icon=atlantik
DocPath=atlantik/index.html
GenericName=Monopoly®-like Board Games
GenericName[bs]=Igre nalik na Monopol®
GenericName[da]=Matador®-lignende brætspil
GenericName[ro]=Un joc de tip Monopoly®
GenericName[sv]=Monopol®-liknande spel
Terminal=0
Name=Atlantik
Name[bg]=Атлантика
Name[eo]=Atlantiko
Name[lv]=Atlantija
Name[th]=แอตแลนติค
Name[xx]=xx
MapNotify=true 
