<!DOCTYPE kpartgui>
<kpartgui name="atlantik" version="1">
<MenuBar>
  <Menu name="move"><text>&amp;Move</text>
    <Action name="move_roll"/>
    <Action name="buy_estate"/>
    <Action name="move_endturn"/>
  </Menu>
</MenuBar>
<ToolBar name="moveToolBar">
    <Action name="move_roll"/>
    <Action name="buy_estate"/>
    <Action name="move_endturn"/>
</ToolBar>
</kpartgui>
