[Desktop Entry]
Exec=atlantik -qwindowtitle %c
Name=Atlantik
Name[xx]=xxAtlantikxx
GenericName=Monopoly®-like Board Games
GenericName[bg]=Игра от рода на Monopoly®
GenericName[br]=Ur c'hoari a seurt gant Monopoly®
GenericName[de]=Monopoly®-ähnliches Brettspiel
GenericName[el]=Επιτραπέζιο παιχνίδι Μονόπολη
GenericName[et]=Monopoli stiilis lauamäng
GenericName[nl]=Monopoly®-achtige bordspellen
GenericName[pt]=Jogo de Tabuleiro tipo Monopoly®
GenericName[pt_BR]=Jogo de Tabuleiro tipo Monopoly®
GenericName[sv]=Monopol®-liknande brädspel
GenericName[xx]=xxMonopoly®-like Board Gamesxx
Type=Application
X-DocPath=atlantik/index.html
Terminal=false
Icon=atlantik
X-KDE-StartupNotify=true
X-DBUS-StartupType=Multi
Categories=Qt;KDE;Game;BoardGame;
