<!DOCTYPE kpartgui>
<kpartgui name="kmonop" version="1">
<MenuBar>
  <Menu name="move"><text>&amp;Move</text>
    <Action name="move_roll"/>
  </Menu>
</MenuBar>
<ToolBar name="moveToolBar">
    <Action name="move_roll"/>
</ToolBar>
</kpartgui>
