[Desktop Entry]
Exec=atlantik -qwindowtitle %c
Name=Atlantik
Name[pt]=Atlantik
Name[uk]=Atlantik
GenericName=Monopoly®-like Board Games
GenericName[pt]=Jogos de Tabuleiro do Tipo Monopólio®
GenericName[uk]=Подібні до Monopoly® ігри на дошці
Type=Application
X-DocPath=atlantik/index.html
Terminal=false
Icon=atlantik
X-KDE-StartupNotify=true
X-DBUS-StartupType=Multi
Categories=Qt;KDE;Game;BoardGame;
