[Desktop Entry]
Exec=atlantik -qwindowtitle %c
Name=Atlantik
Name[ca]=Atlantik
Name[ca@valencia]=Atlantik
Name[es]=Atlantik
Name[fr]=Atlantik
Name[gl]=Atlantik
Name[it]=Atlantik
Name[nl]=Atlantik
Name[pl]=Atlantik
Name[pt]=Atlantik
Name[sk]=Atlantik
Name[sv]=Atlantik
Name[uk]=Atlantik
Name[x-test]=xxAtlantikxx
GenericName=Monopoly®-like Board Games
GenericName[ca]=Jocs de taula semblants al Monopoly®
GenericName[ca@valencia]=Jocs de taula semblants al Monopoly®
GenericName[es]=Juegos de tablero semejantes al Monopoly®
GenericName[fr]=Jeux de plateau de type Monopoly®
GenericName[gl]=Xogos de taboleiro estilo Monopoly®
GenericName[it]=Giochi da tavolo simili a Monopoly®
GenericName[nl]=Monopoly®-achtige bordspellen
GenericName[pl]=Gry planszowe rodzaju Monopoly®
GenericName[pt]=Jogos de Tabuleiro do Tipo Monopólio®
GenericName[sk]=Doskové hry v štýle Metropoly
GenericName[sv]=Monopol®-liknande brädspel
GenericName[uk]=Подібні до Monopoly® ігри на дошці
GenericName[x-test]=xxMonopoly®-like Board Gamesxx
Type=Application
X-DocPath=atlantik/index.html
Terminal=false
Icon=atlantik
X-KDE-StartupNotify=true
X-DBUS-StartupType=Multi
Categories=Qt;KDE;Game;BoardGame;
