<!DOCTYPE kpartgui>
<kpartgui name="atlanticdesigner" version="1">
<MenuBar>
  <Menu name="file">
    <Action name="estate_num" />
  </Menu>
</MenuBar>
<ToolBar name="mainToolBar">
  <Action name="estate_num" />
</ToolBar />
</kpartgui>
