<!DOCTYPE kpartgui>
<kpartgui name="atlanticdesigner" version="1">
<MenuBar>
  <Menu name="file">
    <Action name="estate_num"/>
  </Menu>
  <Menu name="edit" noMerge="1"><text>&amp;Edit</text>
    <Action name="smaller"/>
    <Action name="larger"/>
    <Seperator/>
    <Action name="edit_copy"/>
    <Action name="edit_paste"/>
  </Menu>
</MenuBar>
<ToolBar name="mainToolBar">
  <Action name="estate_num" />
</ToolBar />
</kpartgui>
